doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/css/output.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')
body(class='text-base font-nav')
  include navbar
  block content
  include footer