#categorySlider .active{
  background-color: white;
  color: #B1464A;
  font-weight: 600;
}

#categorySlider .active span{
  opacity: 1;
}


#popularFood .active{
  background: white;
  color: #B1464A;
  font-weight: 600;
}
#popularFood .active span{
  color: #B1464A;
  opacity: 1;
}

#popularFoodSlider .active{
  background: white;
  border-color: white;
  width: 30%;
  padding: 4rem 0 2rem 0;
}
#popularFoodSlider .active img{
  width: 60%;
}

::-webkit-scrollbar {
  height: 0px;             
  width: 0;
}

#sidebarNav .active{
  background: #B54E53;
  color: white;
  font-weight: 600;
  opacity: 1;
}

input{
  outline-color: #B1464A;
}

.arrow{
  transition: all 250ms ease-in;
  pointer-events: none;
  margin-top: .5em;
  border-radius: .5rem;
  padding: .5rem  2rem;
}
.arrow::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: -1;
  width: 15px;
  height: 15px;
  background: black;
  transform: translateX(-50%) rotate(45deg);
  transition: .5s;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}