#categorySlider .active{
  background-color: white;
  color: #B1464A;
  font-weight: 600;
}

#categorySlider .active span{
  opacity: 1;
}


#popularFood .active{
  background: white;
  color: #B1464A;
  font-weight: 600;
}
#popularFood .active span{
  color: #B1464A;
  opacity: 1;
}

#popularFoodSlider .active{
  background: white;
  border-color: white;
  width: 30%;
  padding: 4rem 0 2rem 0;
}
#popularFoodSlider .active img{
  width: 60%;
}

::-webkit-scrollbar {
  height: 0px;             
}