extends ../layout.pug 
block content
  section(class='w-full h-fit bg-sushigray bg-contain py-10 lg:px-20 px-10')
    div(class='h-fit text-center lg:w-[70%] m-auto text-white mt-10 overflow-x-scroll overflow-y-hidden whitespace-nowrap' id='categorySlider')
      div(class='inline-block w-[100px] h-[50px] lg:w-[15%] mr-3')
        button(class='relative text-black active w-full pr-2 border-[1px] py-3 rounded-[2rem] flex items-center justify-center overflow-hidden')
          img(src="/images/sushi_2.png", class="w-[40%] px-3 z-10")
          span(class='z-10 opacity-70') Sushi
      div(class='inline-block w-[100px] h-[50px] lg:w-[15%] mr-3')
        button(class='relative bg-sushigraydim text-black w-full pr-2 border-[1px] py-3 rounded-[2rem] flex items-center justify-center overflow-hidden')
          img(src="/images/ramen.png", class="w-[40%] px-3 z-10")
          span(class='z-10 opacity-70') Ramen
      div(class='inline-block w-[100px] h-[50px] lg:w-[15%] mr-3')
        button(class='relative bg-sushigraydim text-black w-full pr-2 border-[1px] py-3 rounded-[2rem] flex items-center justify-center overflow-hidden')
          img(src="/images/udon.png", class="w-[40%] px-3 z-10")
          span(class='z-10 opacity-70') Udon
      div(class='inline-block w-[100px] h-[50px] lg:w-[15%] mr-3')
        button(class='relative bg-sushigraydim text-black w-full pr-2 border-[1px] py-3 rounded-[2rem] flex items-center justify-center overflow-hidden')
          img(src="/images/danggo.png", class="w-[40%] px-3 z-10")
          span(class='z-10 opacity-70') Dango
      div(class='inline-block w-[100px] h-[50px] lg:w-[15%] mr-3')
        button(class='relative bg-sushigraydim text-black w-full  border-[1px] py-3 rounded-[2rem] flex items-center justify-center overflow-hidden')
          span(class='z-10 opacity-70') Others
    div(class='w-full m-auto mt-10 inline-flex flex-wrap items-end justify-between h-fit')
      each food in foods
        a(href=`/foods/${food._id}` class='w-full lg:w-[24%] mb-10 min-h-[300px] rounded-[2rem] bg-white flex flex-wrap items-center justify-center py-10 font-semibold shadow-lg hover:bg-sushigray hover:text-sushired')
          div(class='w-full')
            img(src=food.thumbnail, class="w-[40%] m-auto")
          div(class='w-full px-10')
            div(class='w-full my-5') 
              p(class='text-2xl font-title opacity-80 truncate')=food.name
            div(class='flex w-full')
              div(class='w-[40%] font-bold')=food.price.toLocaleString('en-US', { style: 'currency', currency: 'USD'})
              div(class='flex w-[40%] items-center justify-end')
                svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#faee1c')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                span(class='opacity-80') 4.9

    script(src="/js/categorySlider.js") 
