section(class='w-full h-fit bg-sushi bg-contain py-20 px-28 flex flex-wrap items-center justify-center')
  div(class='w-1/2 text-center text-white')
    h1(class='text-6xl font-semibold font-title leading-relaxed') Get offers straight to your inbox
    p(class='text-base font-normal opacity-50 mt-3') Sign up for the Sushiman newsletter
  div(class='w-full text-center mt-10')
    div(class='w-1/2 relative m-auto')
      input(type="email" placeholder='Enter email address' class='p-5 bg-sushidim border-2 border-sushiborder placeholder-white placeholder-opacity-50 outline-0 w-full rounded-[2rem] text-white font-base')
      button(class='bg-black text-white p-5 rounded-[2rem] absolute top-1/2 right-0 -translate-y-1/2 border-2 border-black') Get Started
