section(class='w-full h-fit flex flex-wrap bg-white relative')
  div(class='w-[125px] h-[125px] bg-black absolute top-1/2 left-1/2 z-10 -translate-x-1/2 -translate-y-1/2 text-white rounded-full flex items-center justify-center') DISCOVER
  div(class='w-1/2 h-full flex items-center justify-center flex-wrap px-28 py-10 meomeo')
    div(class='w-full')
      p(class='text-sushired') What's Trending
      h1(class='text-6xl font-semibold font-title leading-relaxed ') Japanese Sushi
      p(class='text-base font-normal opacity-80 w-4/5 mt-3') Feel the taste of most delicious Sushi here
    div(class='w-full flex flex-wrap')
      div(class='w-1/2 flex items-center justify-start mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Maki Sushi
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Temaki Sushi
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Nigiri Sushi
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Uramaki Sushi
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Oshizushi
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Inari Sushi

  div(class='w-1/2 h-fit meomeo')
    div(class='w-full h-full overflow-hidden')
      img(src="/images/background4.jpg", class="w-full h-full object-cover scale-150")
  div(class='w-1/2 h-fit meomeo')
    div(class='w-full h-full overflow-hidden')
      img(src="/images/background5.jpg", class="w-full h-full object-cover scale-125")
  div(class='w-1/2 h-full flex items-center justify-center flex-wrap px-28 py-10 meomeo')
    div(class='w-full')
      p(class='text-sushired') What's Trending
      h1(class='text-6xl font-semibold font-title leading-relaxed ') Japanese Drinks
      p(class='text-base font-normal opacity-80 w-4/5 mt-3') Feel the taste of most delicious drinks here
    div(class='w-full flex flex-wrap')
      div(class='w-1/2 flex items-center justify-start mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Ornucha
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Kombu-cha
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Ofukucha
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Aojiru
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Sakura Tea
      div(class='w-1/2 flex items-center justify-center mb-5')
        div(class='w-1/5')
          svg.h-5.w-5.fill-sushired(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
            path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
        div(class='w-4/5 font-semibold') Mugicha

  script(src='/js/meomeo.js')



